@charset "UTF-8";

.search_view_box {
	list-style-type: none;
}

.search_main {
	width: 100%;
	display: block;
	background-color: #3f5068;
	overflow: auto;
}

.search_post {
	width: 40%;
	display: block;
	float: left;
	margin-left: 18%;
}

.search_view_box {
	list-style-type: none;
}

.search_result {
	background-color: #FFF;
	border-radius: 5px;
	padding: 20px;
	padding-top: 20px;
	margin-bottom: 25px;
	width: 90%;
	padding-top: 5px;
}

.search_result .search_profile {
	display: block;
}

.search_result .search_profile img {
	/* height:100%; */
	width: 40px;
	float: left;
	vertical-align: middle;
	visibility: visible;
}

.search_result .search_profile h3 {
	vertical-align: middle;
}

.show {
	z-index: 1000;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	/* padding: 2px; */
	display: block;
	margin: 0;
	list-style-type: none;
	list-style: none;
}

.hide {
	display: none;
}

.show ul {
	-webkit-padding-start: 2em;
}

.show li {
	list-style: none;
}

.show a {
	border: 0 !important;
	text-decoration: none;
}

.show a:hover {
	text-decoration: underline !important;
}

.header_profile {
	width: 40%;
	display: inline-block;
	float: right;
	left: 80px;
	top: 10px;
}

.header_profile .header_profile_wraper {
	margin: 7px 0 8px 0;
}

.header_profile a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: transparent;
	color: #ffffff;
	display: inline-block;
	font-size: 17px;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
	height: 27px;
	line-height: 28px;
	padding: 0 10px 1px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
}

.header_profile a img {
	height: 40px;
}

span {
    font-family: inherit;
}

