@charset "UTF-8";

body {
	margin: 0;
}

.header {
	background-color: #3f5068;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 999;
	border-bottom: 1px solid #a8b1bf;
	box-sizing: border-box;
}

.header_hidden {
	width: 100%;
	height: 50px;
}

.head_logo {
	display: inline-block;
	height: 50px;
	left: 5px;
	margin: 0;
	position: absolute;
}

#logo_top {
	height: 50px;
}

#logo_href {
	position: absolute;
	height: 50px;
}

.search {
	width: 450px;
	position: absolute;
	display: inline-block;
	left: 80px;
	top: 10px;
}

.searchTerm {
	float: left;
	width: 350px;
	border: 2px solid #97a6bf;
	padding: 5px;
	height: 15px;
	border-radius: 5px;
	outline: none;
	color: #97a6bf;
	display: inline-block;
}

.searchTerm:focus {
	color: #97a6bf;
}

.form-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 29px;
	width: 50px;
	font: bold 10px/15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #FFF;
	text-transform: uppercase;
	background: #97a6bf;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	display: inline-block;
	right: 50px;
}

.form-wrapper button:hover {
	background: #6c7f9b;
}

.form-wrapper button:active, .form-wrapper button:focus {
	background: #758499;
}

.form-wrapper button:before {
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #97a6bf transparent;
	top: 7px;
	left: -6px;
}

.form-wrapper button:hover:before {
	border-right-color: #6c7f9b;
}

.form-wrapper button:focus:before {
	border-right-color: #97a6bf;
}

.timeline_main {
	width: 100%;
	display: block;
	background-color: #3f5068;
	overflow: auto;
}

.timeline_post {
	width: 40%;
	display: block;
	float: left;
	margin-left: 18%;
}

.timeline_aside {
	width: 20%;
	height: 1000px;
	float: left;
	display: block;
	margin-left: 2%;
}

.infinite_scroll {
	background-color: #FFF;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 25px;
	width: 90%;
	padding-top: 5px;
}

.page_margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.aside_follow {
	background-color: #FFF;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	margin-bottom: 25px;
	width: 90%;
}

.aside_interested {
	background-color: #FFF;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	margin-bottom: 25px;
	width: 90%;
}

.type_choice_box {
	background-color: #FFF;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
	margin-bottom: 25px;
	position: relative;
	clear: both;
	min-height: 80px;
}

.type_choice {
	width: 20%;
	padding-top: 15px;
	padding-bottom: 5px;
	text-decoration: none;
	box-sizing: border-box;
	float: left;
	text-align: center;
	color: #2b2b2b;
}

.type_choice:hover {
	background-color: #adbed8;
	border: 1px solid #adbed8;
	box-sizing: border-box;
}

.type_choice_img {
	width: 40px;
	height: 40px;
}

.post_view_box {
	list-style-type: none;
}

.choice_box_next {
	display: none;
}

.choice_box_prev {
	display: inline-block;
}

.type_choice_textarea {
	margin-top: 15px;
	resize: none;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border: 1px solid #adbed8;
	transition: all 0.3s;
	padding: 13px;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
}

.type_choice_textarea:focus {
	border: 2px solid #adbed8;
}

textarea {
	height: 150px;
	line-height: 150%;
	resize: vertical;
	border: 1px solid #adbed8;
}

.type_choice_textarea:focus {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.post_submit_btn {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 100%;
	background: #adbed8;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: white;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.post_submit_btn:hover {
	background: #6c7f9b;
}